/*Navbar*/
.navbar-toggler-icon {
  background-image: url('./hamburger.svg');
}

/*Sidebar*/
.sidenav {
  color: white;
  width: 250px;
  height: 100%;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.25s;
}

.sidenav-toggle-off{
  width: 0;
}

.list-group-item{
  color: black !important;
}

#location-form{
  padding-left: 10px;
  padding-right: 10px;
}

#filter, #locations-found{
  margin-left: 10px;
  margin-right: 10px;
}

#submit-btn{
  width: 30%;
}

#clear-btn{
  margin-left: 10px;
  width: 30%;
}

/*Map*/

.col-10, .col-12, .col-1{
  padding: 0 !important;
}

#map{
  width: 100%;
  height: 500px;
  background-color: gray;
}

.map{
  width: 100%;
  height: 500px;
  background-color: gray;
}